
body {
    background-color: aqua;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    margin: 0;
}

header {
    background-color: #317d78;
    height: 5rem;
    text-align: center;
    text-transform: uppercase;
    color: #e8e8e8;
    margin-bottom: 100px;
}

header h1 {
    font-size: 30px;
    float: left;
}

header .child {
    float: right;
    position: absolute;
    top: 1.7em;
    right: 1em;
}

.child a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 16px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    width: 70%;
    float: left;
    margin-bottom: 60px;
}

aside {
    width: 25%;
    float: right;
    margin-bottom: 90px;
}

aside ol li {
    padding: 3px;
}

main img {
    float: left;
    width: 650px;
    height: 500px;
    margin-bottom: 65px;
    margin-right: 50px;
    border-radius: 2.5rem;
}


footer {
    clear: both;
    background-color: #7286a0;
    padding: 20px;
    text-align: center;
}

img:hover  {
    content: url(2\ yamaha.jpg);
}