@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

body {
    font-family: "Kalam";
}

.main{
    margin: 20px auto;
    width: 400px;
    height: 500px;
    background-color: #bcffbc;
    padding: 15px;
}

.main h1{
    text-transform: capitalize;
    text-align: center;
    padding: 15px;
}

.main p{
    text-indent: 15px;
    text-align: justify;
    text-align-last: center;
}

.text-for-icons {
    padding-left: 20px;
}

#icon {
    font-size: 25px;
    color: red;
    background-color: #ffff;
}

#icon:nth-of-type(2) {
    color: black;
    background-color: rgb(57, 255, 255);
}

/* domaci zadatak */
/* kartica se nalazi na sredini gornje dve ivice su oble 
donje dve ivice su pod pravim uglom slika da zauzima jednju trecinu ukupne
visine kartice  slika prestavlja kucu koja se prodaje ispod slike se nalazi adresa kuce 
ispod adrese se nalazi
grad i zemlja nakon tih informacija imamo 
ikonica spavace sobe kupatila bazen i kvadrarura kuce 
 */